/**
 * @file
 * Terms of service element styles.
 */

.webform-terms-of-service-details {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
}

.webform-terms-of-service-details--title {
  font-weight: bold;
}
