/**
 * @file
 * Composite element admin styles.
 */

.webform-composite-admin-elements table tr .form-item {
  margin-bottom: 5px;
}

.webform-composite-admin-elements table .form-text,
.webform-composite-admin-elements table .form-textarea,
.webform-composite-admin-elements table .form-select {
  width: 100%;
}

.webform-composite-admin-elements table .form-type-checkbox {
  text-align: center;
}

.webform-composite-admin-elements .description /* Hiding options description for custom composite element */ {
  display: none;
}
