/**
 * @file
 * HTML editor styles.
 *
 * @see /webform/test_element_html_editor
 */

/* Add html tag to make this selector more specific */
html .cke_reset_all .cke_dialog_body {
  border-radius: 5px;
  background-color: #f5f5f2;
}
