/**
 * @file
 * Select2 styles.
 */

/*
 * Make sure container is visible.
 * - Fixes Select2 not working with dialog or system tray.
 *   .ui-dialog z-index is 1260. @see core/themes/seven/css/components/dialog.css
 */
.select2-container--open {
  z-index: 1261;
}
