/**
 * @file
 * Addons styles
 */

.webform-addons-summary {
  float: left;
  margin: 0 0 0.5em 0;
}

/**
 * Projects.
 */
.webform-addons-projects details {
  background-color: #f8f8f8;
}

.webform-addons-projects img {
  float: right;
  height: 50px;
  margin-left: 10px;
}

.webform-addons .admin-list li {
  clear: both;
}
