/**
 * @file
 * Bartik theme styles.
 */

/**
 * Add background color to table cells so that very wide off-screen tables look okay.
 */
table {
  background-color: #fff;
}

/**
 * Tweak webform (elements) form.
 */
.webform-form .tableresponsive-toggle-columns,
.webform-form .tabledrag-toggle-weight-wrapper {
  display: none;
}

.webform-submission-form .form-type-radio .description,
.webform-submission-form .form-type-checkbox .description {
  margin-left: 1.6em;
}

.webform-submission-form .form-type-radio .webform-options-display-buttons-description.description,
.webform-submission-form .form-type-checkbox .webform-options-display-buttons-description.description {
  margin-left: 0;
}

/**
 * Tweak webform element form.
 */
.webform-states-table th.webform-states-table--operations,
.webform-states-table td.webform-states-table--operations {
  min-width: 65px;
}

.webform-states-table td:last-child input {
  margin: 0;
}

.webform-multiple-table td.webform-multiple-table--operations,
.webform-multiple-table td.webform-multiple-table--operations {
  min-width: 65px;
}

/**
 * Tweak details toggle state.
 */
.webform-details-toggle-state {
  text-decoration: none;
  color: #0071b3;
  border-bottom: 1px dotted;
}

.webform-details-toggle-state:hover,
.webform-details-toggle-statelink:focus {
  text-decoration: none;
  color: #018fe2;
  border-bottom-style: solid;
}

/**
 * Ajax form wrapper.
 *
 * Prevent messages top margin from causing the slide effect to
 * jump when completed.
 */
.webform-ajax-form-wrapper[data-effect="slide"] .messages__wrapper:first-of-type {
  padding-top: 28px;
}

.webform-ajax-form-wrapper[data-effect="slide"] .messages:first-of-type:first-child {
  margin-top: 0;
}

/**
 * Tweak progress tracker.
 *
 * ISSUE:
 * Bartik theme is not displaying line between the markers.
 * The #main-wrapper {background: #ffffff) in core/themes/bartik/css/colors.css is causing the problem.
 *
 * WORKAROUND:
 * Define z-index for .progress-step.
 */
.webform-progress-tracker .progress-step {
  z-index: 0;
}

/**
 * Tweak element help.
 * @see css/webform.element.help.css
 */
summary .webform-element-help {
  border-color: #999;
  background: #999;
}

/**
 * Tweak Algolia places.
 */
input.ap-input {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
