/* line 2, ../scss/_main_styles.scss */
html {
  background: #000000;
}

/* line 5, ../scss/_main_styles.scss */
body {
  margin-top: 0;
}
/* line 8, ../scss/_main_styles.scss */
body img {
  max-width: 100%;
}

/* line 13, ../scss/_main_styles.scss */
a:link, a:visited, a {
  color: #007BC8;
}

/* line 18, ../scss/_main_styles.scss */
.toolbar-menu > li > a:visited {
  color: #565656 !important;
}

/* line 23, ../scss/_main_styles.scss */
header {
  margin: 0;
  padding: 1% 6% 0 6%;
  background: #000000;
  width: 100%;
}
/* line 29, ../scss/_main_styles.scss */
header section, header p {
  color: #FFFFFF;
}
/* line 33, ../scss/_main_styles.scss */
header a, header a:link, header a:visited {
  color: #FFFFFF;
}
/* line 37, ../scss/_main_styles.scss */
header #site-info {
  display: block;
  max-width: 1160px;
  margin: 0 auto;
}

/* line 44, ../scss/_main_styles.scss */
.logo img {
  width: 64px;
}

/* line 48, ../scss/_main_styles.scss */
.culinks {
  color: #FFFFFF;
  font-size: small;
  float: right;
}

/* line 55, ../scss/_main_styles.scss */
.home {
  margin: 0;
  padding: 0 !important;
}

/* line 60, ../scss/_main_styles.scss */
.navbar-default {
  background: #FFFFFF;
  border-bottom: 1px solid #d7d7d7;
}

/* line 65, ../scss/_main_styles.scss */
.navbar-default .navbar-nav > .active > a {
  background-color: #cfb87c;
  color: #272727;
}

/* line 70, ../scss/_main_styles.scss */
.navbar-default .navbar-nav > li > a {
  color: #272727;
}

/* line 74, ../scss/_main_styles.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #272727;
  background-color: #cfb87c;
}

/* line 79, ../scss/_main_styles.scss */
.main-menu-item {
  color: #757575;
  line-height: 64px;
  font-weight: 600;
  border-right: 1px solid #d7d7d7;
  padding: 6px 0px !important;
}
/* line 86, ../scss/_main_styles.scss */
.main-menu-item:link {
  background-color: #FFFFFF;
  color: #272727;
}
/* line 90, ../scss/_main_styles.scss */
.main-menu-item:hover, .main-menu-item:focus, .main-menu-item.navbar-default .navbar-nav > .active > a, .main-menu-item .navbar-default .navbar-nav > .active > a:hover, .main-menu-item .navbar-default .navbar-nav > .active > a:focus {
  background-color: #cfb87c;
  color: #272727;
}
/* line 96, ../scss/_main_styles.scss */
.main-menu-item:active, .main-menu-item.active, .main-menu-item a:active {
  background-color: #cfb87c;
  color: #272727;
}

/* line 103, ../scss/_main_styles.scss */
.footer {
  margin: 0;
  padding: 2% 6%;
  background: #000000;
  width: 100%;
}
/* line 109, ../scss/_main_styles.scss */
.footer section, .footer p {
  color: #FFFFFF;
}
/* line 113, ../scss/_main_styles.scss */
.footer a, .footer a:link, .footer a:visited {
  color: #cfb87c !important;
}
/* line 117, ../scss/_main_styles.scss */
.footer #footer-info {
  display: block;
  max-width: 1160px;
  margin: 0 auto;
}

/* line 125, ../scss/_main_styles.scss */
section {
  margin-bottom: 2%;
}

/* line 149, ../scss/_main_styles.scss */
.btn-primary {
  color: #FFFFFF;
  background-color: #007BC8;
  border-color: #007BC8;
}
/* line 135, ../scss/_main_styles.scss */
.btn-primary:hover, .btn-primary:focus {
  color: #FFFFFF;
  background-color: #0072b9;
  border-color: #007BC8;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-primary:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 153, ../scss/_main_styles.scss */
.btn-secondary {
  color: #202020;
  background-color: #cfb87c;
  border-color: #cfb87c;
}
/* line 135, ../scss/_main_styles.scss */
.btn-secondary:hover, .btn-secondary:focus {
  color: #202020;
  background-color: #cbb271;
  border-color: #cfb87c;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-secondary:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 157, ../scss/_main_styles.scss */
.btn-success {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}
/* line 135, ../scss/_main_styles.scss */
.btn-success:hover, .btn-success:focus {
  color: #FFFFFF;
  background-color: black;
  border-color: #000000;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-success:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 161, ../scss/_main_styles.scss */
.btn-info {
  color: #FFFFFF;
  background-color: #757575;
  border-color: #757575;
}
/* line 135, ../scss/_main_styles.scss */
.btn-info:hover, .btn-info:focus {
  color: #FFFFFF;
  background-color: #6d6d6d;
  border-color: #757575;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-info:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 165, ../scss/_main_styles.scss */
.btn-warning {
  color: #202020;
  background-color: #FFFFFF;
  border-color: #757575;
}
/* line 135, ../scss/_main_styles.scss */
.btn-warning:hover, .btn-warning:focus {
  color: #202020;
  background-color: #f7f7f7;
  border-color: #757575;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-warning:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 169, ../scss/_main_styles.scss */
.btn-danger {
  color: #202020;
  background-color: #cfb87c;
  border-color: #cfb87c;
}
/* line 135, ../scss/_main_styles.scss */
.btn-danger:hover, .btn-danger:focus {
  color: #202020;
  background-color: #cbb271;
  border-color: #cfb87c;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-danger:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 173, ../scss/_main_styles.scss */
.btn-link {
  color: #007BC8;
  background-color: transparent;
  border-color: transparent;
}
/* line 135, ../scss/_main_styles.scss */
.btn-link:hover, .btn-link:focus {
  color: #007BC8;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0px 3px 12px -6px #757575;
}
/* line 144, ../scss/_main_styles.scss */
.btn-link:active {
  box-shadow: 0px 3px 12px -6px #757575;
}

/* line 178, ../scss/_main_styles.scss */
.page-header span {
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 1, ../scss/_bulletin.scss */
.bulletin-title {
  margin-bottom: -20px;
}

/* line 4, ../scss/_bulletin.scss */
.bulletin-image, .field--name-field-photo img {
  float: left;
  margin: 0 2% 2% 0;
  max-width: 33.34%;
  height: auto;
}

/* line 13, ../scss/_bulletin.scss */
.field--name-field-bulletin-contact-name, .field--name-field-bulletin-desired-publicati {
  float: left;
  padding-right: 0.5em;
}
/* line 17, ../scss/_bulletin.scss */
.field--name-field-bulletin-contact-name:after, .field--name-field-bulletin-desired-publicati:after {
  content: " | ";
}

/* line 21, ../scss/_bulletin.scss */
.bulletin-footer {
  clear: both;
  background: #f7f7f7;
  margin-top: 1%;
  margin-bottom: 5%;
  padding: 1%;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
}

/* line 30, ../scss/_bulletin.scss */
.form-inline .form-control {
  width: 100% !important;
}

/* line 33, ../scss/_bulletin.scss */
#edit-webform-submission-value-1--2.form-control {
  font-size: 20px;
}

/* line 37, ../scss/_bulletin.scss */
div.webform-options-display-one-column .form-item, div#edit-webform-submission-value-1--2--wrapper .form-item {
  margin-right: 26%;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) {
  /* line 43, ../scss/_bulletin.scss */
  div.view-filters {
    float: right;
    width: 24%;
    overflow: hidden;
  }

  /* line 48, ../scss/_bulletin.scss */
  div.view-content {
    float: left;
    width: 74%;
  }

  /* line 52, ../scss/_bulletin.scss */
  nav.pager-nav {
    clear: both;
  }

  /* line 55, ../scss/_bulletin.scss */
  #block-logintocreatebulletins, #block-viewmysubmissions {
    margin: 0 0 0 900px;
    padding-top: 10px;
  }

  /* line 59, ../scss/_bulletin.scss */
  #block-logintocreatebulletins a, #block-viewmysubmissions a {
    margin-top: 1%;
    float: right;
    color: black;
  }
}
/* line 1, ../scss/components/_blocks.scss */
.block {
  margin-bottom: 20px;
}

/* line 4, ../scss/components/_blocks.scss */
#block-system-main,
.block-express-layout {
  margin-bottom: 0;
}

/* line 8, ../scss/components/_blocks.scss */
.new-block-row {
  clear: both;
}

/* line 3, ../scss/components/_branding.scss */
#print-header {
  display: none;
}

/* line 6, ../scss/components/_branding.scss */
.banner-white #header-wrapper {
  background: #fff;
  color: #363636;
}
/* line 9, ../scss/components/_branding.scss */
.banner-white #header-wrapper a:link, .banner-white #header-wrapper a:visited, .banner-white #header-wrapper a:hover {
  color: #363636;
}
/* line 13, ../scss/components/_branding.scss */
.banner-white #header-wrapper .mobile-menu-toggle a:link, .banner-white #header-wrapper .mobile-menu-toggle a:visited, .banner-white #header-wrapper .mobile-menu-toggle a:hover {
  color: #363636;
  border-color: #363636;
}

/* line 19, ../scss/components/_branding.scss */
.banner-light #header-wrapper {
  background: #f2f2f2;
  color: #363636;
}
/* line 22, ../scss/components/_branding.scss */
.banner-light #header-wrapper a:link, .banner-light #header-wrapper a:visited, .banner-light #header-wrapper a:hover {
  color: #363636;
}
/* line 26, ../scss/components/_branding.scss */
.banner-light #header-wrapper .mobile-menu-toggle a:link, .banner-light #header-wrapper .mobile-menu-toggle a:visited, .banner-light #header-wrapper .mobile-menu-toggle a:hover {
  color: #363636;
  border-color: #363636;
}

/* line 32, ../scss/components/_branding.scss */
.banner-dark #header-wrapper {
  background: #333;
  color: #fff;
}
/* line 35, ../scss/components/_branding.scss */
.banner-dark #header-wrapper a:link, .banner-dark #header-wrapper a:visited, .banner-dark #header-wrapper a:hover {
  color: #fff;
}
/* line 39, ../scss/components/_branding.scss */
.banner-dark #header-wrapper .mobile-menu-toggle a:link, .banner-dark #header-wrapper .mobile-menu-toggle a:visited, .banner-dark #header-wrapper .mobile-menu-toggle a:hover {
  color: #fff;
  border-color: #fff;
}

/* line 45, ../scss/components/_branding.scss */
.banner-black #header-wrapper {
  background: #000;
  color: #fff;
}
/* line 48, ../scss/components/_branding.scss */
.banner-black #header-wrapper a:link, .banner-black #header-wrapper a:visited, .banner-black #header-wrapper a:hover {
  color: #fff;
}
/* line 52, ../scss/components/_branding.scss */
.banner-black #header-wrapper .mobile-menu-toggle a:link, .banner-black #header-wrapper .mobile-menu-toggle a:visited, .banner-black #header-wrapper .mobile-menu-toggle a:hover {
  color: #fff;
  border-color: #fff;
}

/* line 58, ../scss/components/_branding.scss */
#header-wrapper {
  padding: 20px 0;
}

/* line 63, ../scss/components/_branding.scss */
#branding {
  position: relative;
}

/* line 67, ../scss/components/_branding.scss */
#search .block {
  margin-bottom: 0;
}
/* line 70, ../scss/components/_branding.scss */
#search .block-google-appliance {
  float: right;
}
/* line 73, ../scss/components/_branding.scss */
#search input.form-text {
  font-size: 12px;
  line-height: 100%;
}

/* line 81, ../scss/components/_branding.scss */
.banner-white .custom-logo-white,
.banner-light .custom-logo-white {
  display: none;
}

/* line 85, ../scss/components/_branding.scss */
.banner-black .custom-logo-black,
.banner-dark .custom-logo-black {
  display: none;
}

/* line 89, ../scss/components/_branding.scss */
img.custom-logo {
  max-width: 100%;
}

/* line 92, ../scss/components/_branding.scss */
a.custom-logo-link {
  display: block;
  padding-right: 35px;
}

@media screen and (min-width: 480px) {
  /* line 97, ../scss/components/_branding.scss */
  a.custom-logo-link {
    padding-right: 65px;
  }
}
/* line 102, ../scss/components/_branding.scss */
#cu-footer img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

/* line 109, ../scss/components/_branding.scss */
.layout-responsive #search {
  display: none;
}
@media screen and (min-width: 960px) {
  /* line 113, ../scss/components/_branding.scss */
  .layout-responsive #search {
    display: block;
  }
}

/* line 118, ../scss/components/_branding.scss */
img#logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 30px;
  height: auto;
}

/* line 125, ../scss/components/_branding.scss */
#name-and-slogan {
  margin-left: 35px;
  margin-right: 55px;
  padding-top: 7px;
}

/* line 130, ../scss/components/_branding.scss */
.two-line-title #name-and-slogan {
  padding-top: 0;
}

/* line 133, ../scss/components/_branding.scss */
h1#site-name,
div#site-name {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 110%;
  font-weight: 200 !important;
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* line 142, ../scss/components/_branding.scss */
.two-line-title h1#site-name,
.two-line-title div#site-name {
  font-size: 16px;
  margin-top: 0;
}

/* line 147, ../scss/components/_branding.scss */
.banner-white h1#site-name a,
.banner-white div#site-name a,
.banner-light h1#site-name a,
.banner-light div#site-name a {
  color: #363636;
}

/* line 153, ../scss/components/_branding.scss */
.banner-black h1#site-name a,
.banner-black div#site-name a,
.banner-dark h1#site-name a,
.banner-dark div#site-name a {
  color: #fff;
}

/* line 159, ../scss/components/_branding.scss */
#site-slogan {
  margin: 0;
  padding-top: 4px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
}
/* line 166, ../scss/components/_branding.scss */
#site-slogan strong {
  font-weight: 600;
}

/* line 170, ../scss/components/_branding.scss */
.mobile-menu-toggle {
  display: block;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 175, ../scss/components/_branding.scss */
  img#logo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 48px;
    height: auto;
  }

  /* line 182, ../scss/components/_branding.scss */
  #name-and-slogan {
    margin-left: 55px;
    margin-right: 65px;
    padding-top: 10px;
  }

  /* line 187, ../scss/components/_branding.scss */
  .two-line-title #name-and-slogan {
    padding-top: 0;
  }

  /* line 190, ../scss/components/_branding.scss */
  h1#site-name,
  div#site-name {
    font-size: 21px;
    margin: 0;
    padding: 0;
    line-height: 110%;
  }

  /* line 197, ../scss/components/_branding.scss */
  .two-line-title h1#site-name,
  .two-line-title div#site-name {
    font-size: 18px;
  }

  /* line 202, ../scss/components/_branding.scss */
  #site-slogan {
    margin: 0px 0 0 0;
    font-size: 11px;
    text-transform: uppercase;
  }
}
@media all and (min-width: 960px) {
  /* line 210, ../scss/components/_branding.scss */
  #header-wrapper {
    padding: 20px 0;
  }

  /* line 216, ../scss/components/_branding.scss */
  #search {
    padding-top: 13px;
    display: block;
  }

  /* line 220, ../scss/components/_branding.scss */
  img#logo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 65px;
    height: auto;
  }

  /* line 227, ../scss/components/_branding.scss */
  #name-and-slogan {
    margin-left: 75px;
    margin-right: 65px;
    padding-top: 13px;
  }

  /* line 232, ../scss/components/_branding.scss */
  .two-line-title #name-and-slogan {
    padding-top: 0;
  }

  /* line 235, ../scss/components/_branding.scss */
  h1#site-name,
  div#site-name {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 110%;
  }

  /* line 242, ../scss/components/_branding.scss */
  .two-line-title h1#site-name,
  .two-line-title div#site-name {
    font-size: 25px;
  }

  /* line 247, ../scss/components/_branding.scss */
  #site-slogan {
    margin: 3px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
  }
}
/* line 254, ../scss/components/_branding.scss */
.layout-fixed #header-wrapper {
  padding: 20px 0;
}
/* line 260, ../scss/components/_branding.scss */
.layout-fixed #search {
  padding-top: 13px;
  display: block;
}
/* line 264, ../scss/components/_branding.scss */
.layout-fixed img#logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 65px;
  height: auto;
}
/* line 271, ../scss/components/_branding.scss */
.layout-fixed #name-and-slogan {
  margin-left: 75px;
  margin-right: 0;
  padding-top: 13px;
}
/* line 276, ../scss/components/_branding.scss */
.layout-fixed .two-line-title #name-and-slogan {
  padding-top: 0;
}
/* line 279, ../scss/components/_branding.scss */
.layout-fixed h1#site-name,
.layout-fixed div#site-name {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 110%;
}
/* line 286, ../scss/components/_branding.scss */
.layout-fixed .two-line-title h1#site-name,
.layout-fixed .two-line-title div#site-name {
  font-size: 25px;
}
/* line 291, ../scss/components/_branding.scss */
.layout-fixed #site-slogan {
  margin: 3px 0 0 0;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 299, ../scss/components/_branding.scss */
#mobile-navigation .cu-search input.form-text {
  width: 100%;
}
/* line 302, ../scss/components/_branding.scss */
#mobile-navigation #google-appliance-block-form .culinks {
  text-align: left;
}

/* Menu visibility */
/* line 6, ../scss/components/_menus.scss */
.layout-responsive #secondary-menu-wrapper,
.layout-responsive #main-menu-wrapper,
.layout-responsive #footer-menu-wrapper {
  display: none;
}
@media (min-width: 960px) {
  /* line 12, ../scss/components/_menus.scss */
  .layout-responsive #secondary-menu-wrapper,
  .layout-responsive #main-menu-wrapper,
  .layout-responsive #footer-menu-wrapper {
    display: block;
  }
}

/* Secondary Navigation */
/* line 21, ../scss/components/_menus.scss */
#secondary-navigation {
  font-size: 80%;
}
/* line 93, ../scss/modules/_global.scss */
#secondary-navigation::after {
  display: block;
  content: "";
  clear: both;
}
/* line 24, ../scss/components/_menus.scss */
#secondary-navigation nav {
  float: right;
}
/* line 26, ../scss/components/_menus.scss */
#secondary-navigation nav ul li {
  display: inline;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 33, ../scss/components/_menus.scss */
#secondary-navigation nav ul li a {
  padding: 0 10px;
}
/* line 38, ../scss/components/_menus.scss */
#secondary-navigation h2.secondary-menu-label {
  display: inline;
  font-size: 100%;
  font-weight: 600;
}

/* Action menu, or inline secondary menu */
/* line 45, ../scss/components/_menus.scss */
#navigation ul.action-menu {
  float: right;
  margin: 0 0 0 20px;
  font-size: 85%;
}
/* line 49, ../scss/components/_menus.scss */
#navigation ul.action-menu a {
  line-height: 24px;
  margin: 8px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  border: none;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 62, ../scss/components/_menus.scss */
.action-blue ul#action-menu a {
  background-color: #007BC8;
  color: #fff;
  transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
}
/* line 67, ../scss/components/_menus.scss */
.action-blue ul#action-menu a:hover, .action-blue ul#action-menu a:focus {
  background-color: #0072b9;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
}
/* line 73, ../scss/components/_menus.scss */
.action-blue ul#action-menu a:active {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
}

/* line 78, ../scss/components/_menus.scss */
.action-gray ul#action-menu a {
  background-color: #444;
  color: #fff;
  transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
}
/* line 83, ../scss/components/_menus.scss */
.action-gray ul#action-menu a:hover, .action-gray ul#action-menu a:focus {
  background-color: #5e5e5e;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
}
/* line 89, ../scss/components/_menus.scss */
.action-gray ul#action-menu a:active {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
}

/* line 93, ../scss/components/_menus.scss */
.action-gold ul#action-menu a {
  background-color: #cfb87c;
  color: #000;
  transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.24);
}
/* line 98, ../scss/components/_menus.scss */
.action-gold ul#action-menu a:hover, .action-gold ul#action-menu a:focus {
  background-color: #d3be87;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #000;
}
/* line 104, ../scss/components/_menus.scss */
.action-gold ul#action-menu a:active {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
}

/* Block Menu - default blocks provided by core for each menu */
/* line 110, ../scss/components/_menus.scss */
.block-menu ul.menu,
.block-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 119, ../scss/components/_menus.scss */
.block-menu ul.menu a {
  display: block;
  padding: 5px 0;
}
/* line 123, ../scss/components/_menus.scss */
.block-menu ul.menu ul.menu a {
  padding-left: 10px;
}
/* line 126, ../scss/components/_menus.scss */
.block-menu ul.menu ul.menu ul.menu a {
  padding-left: 20px;
}
/* line 129, ../scss/components/_menus.scss */
.block-menu ul.menu ul.menu ul.menu ul.menu a {
  padding-left: 30px;
}
/* line 132, ../scss/components/_menus.scss */
.block-menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
  padding-left: 40px;
}
/* line 135, ../scss/components/_menus.scss */
.block-menu ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
  padding-left: 50px;
}

/* line 149, ../scss/components/_menus.scss */
.block-menu ul.menu a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: -1px;
}
/* line 154, ../scss/components/_menus.scss */
.block-menu ul.menu a i.fa {
  color: #363636;
}

/* line 158, ../scss/components/_menus.scss */
.block-menu.blockdarkgray ul.menu a {
  border-bottom: 1px solid #555;
}
/* line 160, ../scss/components/_menus.scss */
.block-menu.blockdarkgray ul.menu a i.fa {
  color: #fff;
}

/* line 166, ../scss/components/_menus.scss */
.region-background-dark .block-menu ul.menu a {
  border-bottom: 1px solid #444;
}

/* line 171, ../scss/components/_menus.scss */
.region-background-light .block-menu ul.menu a {
  border-bottom: 1px solid #e0e0e0;
}

/* Footer Menu */
/* line 177, ../scss/components/_menus.scss */
#footer-menu {
  /* Main menu and secondary menu links and menu block links. */
}
/* line 179, ../scss/components/_menus.scss */
#footer-menu .links,
#footer-menu .menu {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 0;
  text-align: left;
  /* LTR */
}
/* line 187, ../scss/components/_menus.scss */
#footer-menu .links li,
#footer-menu .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: left;
  /* LTR */
  padding: 0 5px 0 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/* line 196, ../scss/components/_menus.scss */
#footer-menu-wrapper {
  font-size: 90%;
  padding: 0;
  font-weight: bold;
}

/* line 203, ../scss/components/_menus.scss */
.footer-menu-gray {
  background-color: #333;
}

/* line 207, ../scss/components/_menus.scss */
.footer-menu-gray ul#footer-menu-links a,
.footer-menu-gray ul#footer-menu-links a.active,
.footer-menu-gray ul#footer-menu-links a.active-trail {
  color: #fff;
  margin-right: 20px;
}
/* line 212, ../scss/components/_menus.scss */
.footer-menu-gray ul#footer-menu-links a:hover, .footer-menu-gray ul#footer-menu-links a:focus,
.footer-menu-gray ul#footer-menu-links a.active:hover,
.footer-menu-gray ul#footer-menu-links a.active:focus,
.footer-menu-gray ul#footer-menu-links a.active-trail:hover,
.footer-menu-gray ul#footer-menu-links a.active-trail:focus {
  color: #cfb87c;
}

/* line 218, ../scss/components/_menus.scss */
.footer-menu-gold {
  background-color: #cfb87c;
}

/* line 222, ../scss/components/_menus.scss */
.footer-menu-gold ul#footer-menu-links a,
.footer-menu-gold ul#footer-menu-links a.active,
.footer-menu-gold ul#footer-menu-links a.active-trail {
  color: #333;
  margin-right: 20px;
}
/* line 227, ../scss/components/_menus.scss */
.footer-menu-gold ul#footer-menu-links a:hover, .footer-menu-gold ul#footer-menu-links a:focus,
.footer-menu-gold ul#footer-menu-links a.active:hover,
.footer-menu-gold ul#footer-menu-links a.active:focus,
.footer-menu-gold ul#footer-menu-links a.active-trail:hover,
.footer-menu-gold ul#footer-menu-links a.active-trail:focus {
  color: #000;
}

/* Menu Blocks - menus provided by menu block module */
/* line 239, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu,
#block-menu-block-site-navigation-menus-1 ul.menu li,
#block-menu-block-site-navigation-menus-2 ul.menu,
#block-menu-block-site-navigation-menus-2 ul.menu li,
#block-menu-block-site-navigation-menus-3 ul.menu,
#block-menu-block-site-navigation-menus-3 ul.menu li,
#section-navigation ul.menu,
#section-navigation ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 246, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu a,
#block-menu-block-site-navigation-menus-1 ul.menu li a,
#block-menu-block-site-navigation-menus-2 ul.menu a,
#block-menu-block-site-navigation-menus-2 ul.menu li a,
#block-menu-block-site-navigation-menus-3 ul.menu a,
#block-menu-block-site-navigation-menus-3 ul.menu li a,
#section-navigation ul.menu a,
#section-navigation ul.menu li a {
  display: block;
}
/* line 250, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-2 ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-3 ul.menu ul.menu a,
#section-navigation ul.menu ul.menu a {
  padding-left: 15px;
}
/* line 253, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu a,
#section-navigation ul.menu ul.menu ul.menu a {
  padding-left: 30px;
}
/* line 256, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu a,
#section-navigation ul.menu ul.menu ul.menu ul.menu a {
  padding-left: 45px;
}
/* line 259, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu a,
#section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu a {
  padding-left: 60px;
}
/* line 262, ../scss/components/_menus.scss */
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a,
#block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a,
#section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
  padding-left: 75px;
}

/* Mobile Menu Toggle/ Hamburger Menu */
/* line 267, ../scss/components/_menus.scss */
.mobile-menu-toggle {
  display: none;
}

/* line 271, ../scss/components/_menus.scss */
.layout-responsive .mobile-menu-toggle {
  display: block;
  position: absolute;
  top: 3px;
  right: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Arial, Helvetica;
}
/* line 279, ../scss/components/_menus.scss */
.layout-responsive .mobile-menu-toggle span.mobile-menu-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 284, ../scss/components/_menus.scss */
.layout-responsive .mobile-menu-toggle a {
  display: inline-block;
  white-space: nowrap;
}
@media screen and (min-width: 480px) {
  /* line 290, ../scss/components/_menus.scss */
  .layout-responsive .mobile-menu-toggle {
    font-size: 11px;
  }
  /* line 292, ../scss/components/_menus.scss */
  .layout-responsive .mobile-menu-toggle span.mobile-menu-text {
    position: static !important;
    clip: auto;
  }
  /* line 296, ../scss/components/_menus.scss */
  .layout-responsive .mobile-menu-toggle a {
    padding: 2px 5px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
}
@media screen and (min-width: 960px) {
  /* line 307, ../scss/components/_menus.scss */
  .layout-responsive .mobile-menu-toggle {
    display: none;
  }
}

/* Mobile navigation */
/* line 313, ../scss/components/_menus.scss */
#mobile-navigation-wrapper {
  display: none;
}

/* line 316, ../scss/components/_menus.scss */
#mobile-navigation {
  margin: 0 0px;
}
/* line 318, ../scss/components/_menus.scss */
#mobile-navigation .culinks {
  display: none;
}

/* line 323, ../scss/components/_menus.scss */
#mobile-menu ul, #mobile-menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 329, ../scss/components/_menus.scss */
#mobile-menu a {
  display: block;
  padding: 10px 20px;
}

/* line 334, ../scss/components/_menus.scss */
#mobile-search {
  padding: 20px 20px 0;
}
/* line 336, ../scss/components/_menus.scss */
#mobile-search .cu-search input.form-text {
  width: 100%;
}

/* line 342, ../scss/components/_menus.scss */
#navigation .links li,
#navigation .menu li {
  margin: 0;
  padding: 0;
}
/* line 346, ../scss/components/_menus.scss */
#navigation .links a,
#navigation .menu a {
  display: inline-block;
  padding: 0 12px;
  line-height: 40px;
}

/* Menu Icons - for block menus, not main, secondary, footer menus */
/* line 353, ../scss/components/_menus.scss */
.menu-icon-text {
  display: block;
}
/* line 85, ../scss/modules/_global.scss */
.menu-icon-text:after {
  content: "";
  display: table;
  clear: both;
}

/* line 357, ../scss/components/_menus.scss */
.hide-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 362, ../scss/components/_menus.scss */
a.menu__link {
  display: block;
}
/* line 85, ../scss/modules/_global.scss */
a.menu__link:after {
  content: "";
  display: table;
  clear: both;
}
/* line 365, ../scss/components/_menus.scss */
a.menu__link i.fa {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  font-size: 120%;
}

/* Mobile subnavigation */
/* line 374, ../scss/components/_menus.scss */
.layout-responsive #block-menu-block-site-navigation-menus-4 {
  display: block;
}
@media (min-width: 768px) {
  /* line 378, ../scss/components/_menus.scss */
  .layout-responsive #block-menu-block-site-navigation-menus-4 {
    display: none;
  }
}

/* line 4, ../scss/components/_text.scss */
body {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-variant: normal;
  -webkit-text-size-adjust: none;
}

/* line 18, ../scss/components/_text.scss */
body.layout-responsive {
  font-size: 17px;
}

@media all and (min-width: 480px) {
  /* line 22, ../scss/components/_text.scss */
  body.layout-responsive {
    font-size: 16px;
  }
}
@media all and (min-width: 1200px) {
  /* line 27, ../scss/components/_text.scss */
  body.layout-responsive {
    font-size: 17px;
  }
}
/* line 32, ../scss/components/_text.scss */
#footer-section {
  font-size: 90%;
  line-height: 1.5;
}

/* line 37, ../scss/components/_text.scss */
.content p:last-child {
  margin-bottom: 0;
}

/* line 41, ../scss/components/_text.scss */
#block-system-main p {
  margin-bottom: 20px;
}

/* line 46, ../scss/components/_text.scss */
a:link, a:visited {
  color: #007BC8;
  text-decoration: none;
  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease, -webkit-box-shadow 0.25s ease, -moz-box-shadow 0.25s ease, box-shadow 0.25s ease;
}

/* line 51, ../scss/components/_text.scss */
a:hover {
  color: #e51c23;
  text-decoration: none;
}

/* line 55, ../scss/components/_text.scss */
a:active {
  color: #e51c23;
  text-decoration: none;
}

/* line 60, ../scss/components/_text.scss */
.focus--keyboard, a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: #007BC8 solid 2px;
  text-decoration: none;
  outline-offset: -1px;
}

/* line 65, ../scss/components/_text.scss */
.focus--mouse, a.focus--mouse:focus,
button.focus--mouse:focus,
input.focus--mouse:focus,
textarea.focus--mouse:focus {
  outline: none;
  text-decoration: none;
}

/* line 85, ../scss/components/_text.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0 0 10px 0;
}

/* line 90, ../scss/components/_text.scss */
#footer-section h1, #footer-section h2, #footer-section h3, #footer-section h4, #footer-section h5, #footer-section h6 {
  margin: 0 0 10px 0;
}

/* line 94, ../scss/components/_text.scss */
h1#page-title,
h1#page-title-image-title,
.page-title-section h1 {
  font-size: 220%;
  font-weight: 200;
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 100, ../scss/components/_text.scss */
h1#page-title i, h1#page-title em,
h1#page-title-image-title i,
h1#page-title-image-title em,
.page-title-section h1 i,
.page-title-section h1 em {
  font-style: italic;
}

/* line 105, ../scss/components/_text.scss */
.layout-responsive h1#page-title,
.layout-responsive h1#page-title-image-title,
.layout-responsive .page-title-section h1 {
  font-size: 180%;
}

@media screen and (min-width: 768px) {
  /* line 113, ../scss/components/_text.scss */
  .layout-responsive h1#page-title,
  .layout-responsive h1#page-title-image-title,
  .layout-responsive .page-title-section h1 {
    font-size: 220%;
  }
}
/* line 120, ../scss/components/_text.scss */
h2 {
  font-size: 160%;
  font-weight: 200;
}

/* line 124, ../scss/components/_text.scss */
h2.block-title {
  font-size: 160%;
  font-weight: 200;
}

/* line 128, ../scss/components/_text.scss */
.headings-bold .hero-unit h2,
.hero-unit h2 {
  font-weight: 900;
}

/* line 134, ../scss/components/_text.scss */
.sidebars h2,
.sidebars h2.block-title {
  font-size: 125%;
}
/* line 138, ../scss/components/_text.scss */
.sidebars h3 {
  font-size: 120%;
}
/* line 141, ../scss/components/_text.scss */
.sidebars h4 {
  font-size: 115%;
}
/* line 144, ../scss/components/_text.scss */
.sidebars h5 {
  font-size: 110%;
}

/* line 150, ../scss/components/_text.scss */
.headings-bold h1#page-title,
.headings-bold h1#page-title-image-title,
.headings-bold .page-title-section h1, .headings-bold h2, .headings-bold h3, .headings-bold h4 {
  font-weight: 700;
}
/* line 154, ../scss/components/_text.scss */
.headings-bold h1#page-title strong,
.headings-bold h1#page-title-image-title strong,
.headings-bold .page-title-section h1 strong, .headings-bold h2 strong, .headings-bold h3 strong, .headings-bold h4 strong {
  font-weight: 700;
}
/* line 158, ../scss/components/_text.scss */
.headings-bold h5, .headings-bold h6 {
  font-weight: 600;
}
/* line 161, ../scss/components/_text.scss */
.headings-bold h2.block-title, .headings-bold h2.node-title {
  font-weight: 700;
}

/* line 167, ../scss/components/_text.scss */
#after-content h2,
#after-content h2.block-title,
#after-content-2 h2,
#after-content-2 h2.block-title {
  font-size: 150%;
}

/* line 173, ../scss/components/_text.scss */
#footer-section h2.block-title {
  font-size: 110%;
  font-weight: 500;
}

/* line 177, ../scss/components/_text.scss */
h2.node-title {
  font-size: 130%;
  font-weight: 200;
}

/* line 182, ../scss/components/_text.scss */
h3 {
  font-size: 140%;
  font-weight: 200;
}

/* line 186, ../scss/components/_text.scss */
h3.node-title {
  font-size: 120%;
}

/* line 189, ../scss/components/_text.scss */
h4 {
  font-size: 126%;
  font-weight: 200;
}

/* line 193, ../scss/components/_text.scss */
h5 {
  font-size: 113%;
  font-weight: 200;
}

/* line 197, ../scss/components/_text.scss */
h6 {
  font-size: 100%;
  font-weight: bold;
  font-weight: 200;
}

/* line 204, ../scss/components/_text.scss */
ol {
  list-style: decimal;
  overflow: hidden;
}

/* line 208, ../scss/components/_text.scss */
ul {
  list-style: disc;
  overflow: hidden;
}

/* line 215, ../scss/components/_text.scss */
.item-list ul li,
.field-type-text-with-summary ul li,
.field-type-text-long ul li {
  list-style: disc;
  margin-bottom: 10px;
}
/* line 219, ../scss/components/_text.scss */
.item-list ul ul li,
.item-list ul ul ul ul li,
.item-list ul ul ul ul ul ul li,
.field-type-text-with-summary ul ul li,
.field-type-text-with-summary ul ul ul ul li,
.field-type-text-with-summary ul ul ul ul ul ul li,
.field-type-text-long ul ul li,
.field-type-text-long ul ul ul ul li,
.field-type-text-long ul ul ul ul ul ul li {
  list-style: circle;
}
/* line 224, ../scss/components/_text.scss */
.item-list ul ul ul li,
.item-list ul ul ul ul ul li,
.item-list ul ul ul ul ul ul ul li,
.field-type-text-with-summary ul ul ul li,
.field-type-text-with-summary ul ul ul ul ul li,
.field-type-text-with-summary ul ul ul ul ul ul ul li,
.field-type-text-long ul ul ul li,
.field-type-text-long ul ul ul ul ul li,
.field-type-text-long ul ul ul ul ul ul ul li {
  list-style: disc;
}
/* line 229, ../scss/components/_text.scss */
.item-list ul ul,
.item-list ol ol,
.field-type-text-with-summary ul ul,
.field-type-text-with-summary ol ol,
.field-type-text-long ul ul,
.field-type-text-long ol ol {
  margin: 10px 0 0 0;
}
/* line 234, ../scss/components/_text.scss */
.item-list ol li,
.field-type-text-with-summary ol li,
.field-type-text-long ol li {
  margin: 0 0 10px 0;
}

/* line 240, ../scss/components/_text.scss */
.node ol,
.node ul,
ul,
ol {
  padding-left: 1.5em;
}

/* line 247, ../scss/components/_text.scss */
.node ul.inline,
.node ol.inline,
ul.inline, ol.inline {
  padding-left: 0;
}

/* line 253, ../scss/components/_text.scss */
ul.list-style-nobullet {
  list-style: none;
  list-style-image: none;
  padding-left: 0;
}

/* line 258, ../scss/components/_text.scss */
ul.list-style-nobullet > li {
  list-style: none;
  list-style-image: none;
}

/* line 263, ../scss/components/_text.scss */
ul.list-style-underline > li {
  list-style: none;
}

/* line 267, ../scss/components/_text.scss */
ul.list-style-underline {
  list-style: none;
  list-style-image: none;
  padding-left: 0;
}

/* line 272, ../scss/components/_text.scss */
ul.list-style-underline > li {
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

/* line 277, ../scss/components/_text.scss */
ul.list-style-border {
  list-style: none;
  list-style-image: none;
  padding-left: 0;
}

/* line 282, ../scss/components/_text.scss */
ul.list-style-border > li {
  list-style: none;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: -1px;
}

/* line 288, ../scss/components/_text.scss */
ul.list-style-icon-1,
ul.list-style-icon-2,
ul.list-style-icon-3,
ul.list-style-icon-4,
ul.list-style-icon-5,
ul.list-style-icon-6 {
  list-style: none;
  list-style-image: none;
  overflow: hidden;
}
/* line 297, ../scss/components/_text.scss */
ul.list-style-icon-1 > li,
ul.list-style-icon-2 > li,
ul.list-style-icon-3 > li,
ul.list-style-icon-4 > li,
ul.list-style-icon-5 > li,
ul.list-style-icon-6 > li {
  list-style: none !important;
  list-style-image: none !important;
  position: relative;
}
/* line 302, ../scss/components/_text.scss */
ul.list-style-icon-1 li:before,
ul.list-style-icon-2 li:before,
ul.list-style-icon-3 li:before,
ul.list-style-icon-4 li:before,
ul.list-style-icon-5 li:before,
ul.list-style-icon-6 li:before {
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: -20px;
  color: #cfb87c;
}

/* line 311, ../scss/components/_text.scss */
ul.list-style-icon-1 > li:before {
  content: '\f00c';
}

/* line 316, ../scss/components/_text.scss */
ul.list-style-icon-2 > li:before {
  content: '\f14a';
}

/* line 320, ../scss/components/_text.scss */
ul.list-style-icon-3 > li:before {
  content: '\f101';
}

/* line 324, ../scss/components/_text.scss */
ul.list-style-icon-4 > li:before {
  content: '\f0a9';
}

/* line 328, ../scss/components/_text.scss */
ul.list-style-icon-5 > li:before {
  content: '\f005';
}

/* line 332, ../scss/components/_text.scss */
ul.list-style-icon-6 > li:before {
  content: '\f0a4';
}

/* ORDERED LIST STYLES */
/* line 337, ../scss/components/_text.scss */
ol.list-style-alpha-upper, ol.list-style-alpha-upper > li {
  list-style: upper-alpha;
}

/* line 340, ../scss/components/_text.scss */
ol.list-style-alpha-lower, ol.list-style-alpha-lower > li {
  list-style: lower-alpha;
}

/* line 343, ../scss/components/_text.scss */
ol.list-style-roman-upper, ol.list-style-roman-upper > li {
  list-style: upper-roman;
}

/* line 346, ../scss/components/_text.scss */
ol.list-style-roman-lower, ol.list-style-roman-lower > li {
  list-style: lower-roman;
}

/* line 353, ../scss/components/_text.scss */
p, dl, hr, ol, ul, pre, table, address, fieldset {
  margin: 0 0 20px 0;
}

/* line 356, ../scss/components/_text.scss */
p:empty {
  margin: 0;
}

/* line 362, ../scss/components/_text.scss */
dt, .admin h3 {
  font-weight: 600;
  margin: 0;
}

/* line 367, ../scss/components/_text.scss */
dd {
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 20px;
}
/* line 371, ../scss/components/_text.scss */
dd p {
  margin-bottom: 10px;
}

/* line 376, ../scss/components/_text.scss */
blockquote {
  font-size: 110%;
  margin: 0px 0px 40px 20px;
  padding-left: 20px;
  border-left: 4px solid #e0e0e0;
}

/* line 383, ../scss/components/_text.scss */
small,
.small-text {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* line 389, ../scss/components/_text.scss */
sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

/* line 403, ../scss/components/_text.scss */
sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

/* line 407, ../scss/components/_text.scss */
sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}

/**
 * Font weights
 * 600 is a good bold, 700 is extra black, 900 is extra black condensed
 */
/* line 417, ../scss/components/_text.scss */
strong {
  font-weight: 600;
}

/* line 420, ../scss/components/_text.scss */
.lead {
  font-size: 130%;
  line-height: 1.4;
}
/* line 423, ../scss/components/_text.scss */
.lead strong {
  font-weight: 600;
}

/* line 427, ../scss/components/_text.scss */
.hero {
  font-size: 200%;
  line-height: 1.3;
  font-weight: 100;
}
/* line 431, ../scss/components/_text.scss */
.hero strong {
  font-weight: 900;
}

/* line 435, ../scss/components/_text.scss */
.supersize {
  font-size: 320%;
  line-height: 1.3;
  font-weight: 100;
}
/* line 439, ../scss/components/_text.scss */
.supersize strong {
  font-weight: 900;
}

/* line 444, ../scss/components/_text.scss */
.breadcrumb {
  font-size: 85%;
}

/* line 449, ../scss/components/_text.scss */
em {
  font-style: italic;
}

/* line 1, ../scss/_bootstrap_overrides.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}
