/**
 * @file
 * CodeMirror styles.
 *
 * @see /webform/test_element_codemirror/test
 */

/* Clean up CodeMirror editor */
form .CodeMirror {
  border: 1px solid #ccc;
  font-size: 13px;
  height: auto;
}

form .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

/* Clean up CodeMirror viewer */
pre.webform-codemirror-runmode {
  border: 1px solid #ccc;
  font-size: 13px;
  overflow: auto;
  padding: 3px;
  margin: 0;
}
