{#
/**
 * @file
 * Default theme implementation for webform email wrapper template as HTML.
 *
 * Available variables:
 * - message: The email message which contains to, from, subject, message, etc…
 * - webform_submission: The webform submission.
 * - handler: The webform handler.
 *
 * @ingroup themeable
 */
#}
<h1>Header 1 (contact_email_confirmation)</h1>
{{ message.body }}
<hr />
<address>address (contact_email_confirmation)</address>
