{#
/**
 * @file
 * Default theme implementation for a views slideshow pager item.
 *
 * Available variables:
 * - plugin: The main frame slideshow plugin.
 * - slides: The slides.
 * - vss_id: The slideshow's id.
 *
 * @ingroup vss_templates
 */
#}
<div id="{{ plugin }}_main_{{ vss_id }}" class="{{ plugin }}_main views_slideshow_main">
    {{ slides }}
</div>
