/**
 * Place your custom styles here.
 */

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.5em;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.25em;
}

/* Links and whatnot */
.navbar-default .navbar-nav>li>a {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.8rem;
}