{#
/**
 * @file
 * Theme implementation for webform element more.
 *
 * Available variables
 * - title: More label.
 * - content: More content.
 *
 * @see template_preprocess_webform_element_more()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.element.more') }}
{%
set classes = [
  'js-webform-element-more',
  'webform-element-more',
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="webform-element-more--link"><a href="#more">{{ more_title }}</a></div>
  <div class="webform-element-more--content">{{ more }}</div>
</div>
