{#
/**
 * @file
 * Default theme implementation for a webform required indicator.
 *
 * Available variables:
 * - label: The required indicator label.
 *
 * @ingroup themeable
 */
#}
<div class="webform-required">
  <span class="form-required"></span>{{ label }}
</div>
