{#
/**
 * @file
 * Default theme implementation to webform preview.
 *
 * Available variables:
 * - preview: Webform submission preview.
 *
 * @see template_preprocess_webform_preview()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('webform-preview') }}>
  {{ preview }}
</div>
