{#
/**
 * @file
 * Default theme implementation for webform email wrapper template as HTML.
 *
 * @ingroup themeable
 */
#}
<html>
<head>
  <title>{{ subject }}</title>
</head>
<body>
{{ body|raw }}
</body>
</html>
